  # Craft general settings
ALLOW_UPDATES=1
ALLOW_ADMIN_CHANGES=1
BACKUP_ON_UPDATE=0
DEV_MODE=1
ENABLE_TEMPLATE_CACHING=0
ENVIRONMENT="dev"
IS_SYSTEM_LIVE=1
RUN_QUEUE_AUTOMATICALLY=1
SECURITY_KEY=""
SITE_NAME=""
SYSTEM_EMAIL_ADDRESS=""
SENDER_NAME=""
CP_TRIGGER="admin"


# Craft database settings
DB_DRIVER="mysql"
DB_SERVER="localhost"
DB_USER="root"
DB_PASSWORD=""
DB_DATABASE=""
DB_SCHEMA="public"
DB_TABLE_PREFIX=""
DB_PORT="3306"

# URL & path settings
ASSETS_URL=""
SITE_URL=""

# S3 settings
S3_KEY_ID=""
S3_SECRET=""
S3_BUCKET=""
S3_REGION=""
S3_SUBFOLDER=""

# CloudFront settings
CLOUDFRONT_URL=""
CLOUDFRONT_DISTRIBUTION_ID=""
CLOUDFRONT_PATH_PREFIX=""

# Twigpack settings
PUBLIC_PATH="/"
DEVSERVER_PUBLIC="http://localhost:8080"
DEVSERVER_HOST="0.0.0.0"
DEVSERVER_POLL=1
DEVSERVER_PORT=8080
DEVSERVER_HTTPS=0

