# COMPOSER
vendor
composer.lock

#Serviceworker
public/\workbox*
web/\workbox*
public/\precache-manifest*
web/\precache-manifest*
web/\sw*
public/\sw*

# CRAFT
storage/*
!storage/.gitkeep
storage/logs/*
storage/runtime/*
scripts/*
config/license.key
./craft
craft.sh
craft.bat
nys-setup


# generated
templates/_inlinejs/*.js
templates/_layouts/*
templates/_inlinejs/*.js
templates/*.min.css
compilation-stats.json
compilationHashes.json

# Build ASSETS
public/assets/*
public/appcache/*
public/cpresources/*
public/uploads/*
!public/uploads/.gitkeep
public/uploads/images/*
!public/uploads/images/.gitkeep
public/uploads/media/*
!public/uploads/media/.gitkeep
public/uploads/users/*
!public/uploads/users/.gitkeep
public/uploads/downloads/*
!public/uploads/downloads/.gitkeep
web/dist/*
web/assets/*
web/appcache/*
web/cpresources/*
web/uploads/images/*
!web/uploads/images/.gitkeep
web/uploads/media/*
!web/uploads/media/.gitkeep
web/uploads/users/*
!web/uploads/users/.gitkeep
web/uploads/downloads/*
!web/uploads/downloads/.gitkeep


# IMAGER TRANSFORMS
public/imager/*
!public/imager/.gitkeep
web/imager/*
!web/imager/.gitkeep

# BUILD FILES
/node_modules/*
/yarn-error.log

# MISC FILES
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.esproj
*.log
*.node
*.sublime-project
*.sublime-workspace
*.tmproj
*.tmproject
.DS_Store
.cache
.cache-loader
.idea
.project
.settings
.vscode/*
config.codekit3
prepros-6.config
.DS_Store
.env
.env.sh
.env.php
.idea
vendor
scripts

web/favicon.ico
