# COMPOSER
vendor
composer.lock

#Serviceworker
web/\workbox*
web/\precache-manifest*
web/\sw*

# CRAFT
storage/*
!storage/.gitkeep
storage/logs/*
storage/runtime/*
scripts/*
config/license.key


# generated
templates/_inlinejs/*.js
templates/*.min.css
compilation-stats.json
compilationHashes.json

# Build ASSETS
web/dist/*
web/assets/*
web/appcache/*
web/cpresources/*
web/uploads/images/*
!web/uploads/images/.gitkeep
web/uploads/media/*
!web/uploads/media/.gitkeep
web/uploads/users/*
!web/uploads/users/.gitkeep
web/uploads/downloads/*
!web/uploads/downloads/.gitkeep


# IMAGER TRANSFORMS
web/imager/*
!web/imager/.gitkeep

# BUILD FILES
/node_modules/*
/yarn-error.log

# MISC FILES
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.esproj
*.log
*.node
*.sublime-project
*.sublime-workspace
*.tmproj
*.tmproject
.DS_Store
.cache
.cache-loader
.idea
.project
.settings
.vscode/*
config.codekit3
prepros-6.config
.env
.env.sh
.env.php
scripts

web/favicon.ico
