.c-nav {
    @apply mx-auto max-w-3xl flex items-center justify-between flex-wrap px-4 mt-4;
}

.c-nav .is-active {
    @apply text-red-500 !important;
}

.c-nav__logo {
    @apply my-auto;
}

.c-nav__link {
    @apply no-underline inline-block text-gray-800;
}

.c-nav__link:hover {
    @apply text-red-500;
}
