/**
 * components/typography.css
 *
 * Typography rules.
 *
 */

.fonts-loaded body,
.fonts-loaded p,
.fonts-loaded a,
.fonts-loaded button {
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.fonts-loaded h1,
.fonts-loaded h2,
.fonts-loaded h3,
.fonts-loaded h4,
.fonts-loaded h5,
.fonts-loaded h6,
.fonts-loaded text,
.fonts-loaded {
    font-family: Poppins, Arial, Helvetica, sans-serif;
}
