{% extends "_layouts/_layout" %}

{# -- inline css -- #}
{% block _inline_css %}
    <style>
        {{source ("entry_critical.min.css", ignore_missing=true)}}
    </style>
    {# -- end inline css -- #}
{% endblock %}


    {% block content %}

            {% block itemContent %}

                {% if entry.body %}
                    <div class="entry content">
                        {% include "_matrix" with {
                            "matrix" : entry.body
                        } %}
                    </div>
                {% endif %}
            {% endblock %}
        </div>

        {# -- content end -- #}
    {% endblock %}

