{% extends "item/default" %}

{% block itemContent %}

    {% if entry.media %}
        <a class="hoverontouch" href="{{ entry.url }}">
            {% embed "./_elements/figure/default" with {
                            opt : {
                                classes: {
                                    figure: 'c-figure',
                                    figcaption: 'c-figure__cpt',
                                }
                            }
                        } %}
                {% block figure %}
                    <div class="c-figure__img">
                        {% set asset = entry.media.one() %}
                        {% set embeddedAsset = craft.embeddedAssets.get(asset) %}
                        {% include '_pieces/img/imager' with {
                            opt : {
                                data: entry.image.one() ? entry.image.one().url: embeddedAsset.image,
                                imager: {
                                    lazy: false
                                }
                            }
                        }
                        only %}
                    </div>
                {% endblock %}
                {% block figcaption %}
                    <div class="c-figure__wrap">
                        <div class="c-figure__inner">
                            <p class="c-figure__paragraph text-white text-xs">{{ entry.tags.one() }}</p>
                            <h2 class="font-light uppercase c-figure__heading text-white text-lg">{{ entry.title }}</h2>
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}
        </a>
    {% endif %}

{% endblock %}
