{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}

{#
Layout: Default
------------------------------------------------------------

#}

{%- minify -%}
{# -- get compilation hash:8 for cachebusting -- #}
<% assetHash = compilation.hash.slice(0, 7) %>
{# -- set assetHash and baseUrl -- #}
{% set assetHash = '<%- assetHash %>' %}
{% set baseUrl = alias('@baseUrl') %}
{% header "Link: <#{baseUrl}/>; rel=dns-prefetch;,<#{baseUrl}>; rel=preconnect; crossorigin;" %}
<!DOCTYPE html>
<!-- Fonts Cookie -->
<% if (htmlWebpackPlugin.options.env.prod) { %>
{% set fontsLoaded = getCookie('fonts-loaded') %}
    {% if fontsLoaded and fontsLoaded == assetHash %}
<html class="fonts-loaded" lang="{{ craft.app.language |slice(0,2) }}"
      prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
{% else %}
<html lang="{{ craft.app.language |slice(0,2) }}"
      prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
{% endif %}
<% } else{ %>
<html class="fonts-loaded" lang="{{ craft.app.language |slice(0,2) }}"
      prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<% } %>

<head>
    <link rel="dns-prefetch" href="{{ baseUrl }}/">
    <link rel="preconnect" href="{{ baseUrl }}(" crossorigin>
    <!-- Any <link> tags that should be included in the header -->
    {% block head %}{% endblock %}
    <!-- Set character encoding for the document -->
    <meta charset="utf-8">
    <!-- Viewport for responsive web design -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1, viewport-fit=cover">


    <!-- Seomatic -->
    {% if craft.plugin.Seomatic is defined %}
        {% hook 'seomaticRender' %}
    {% else %}
        {% block metadata %}
            <title>{{ currentSite.name }}</title>
            <!-- Meta Description -->
            <meta name="description"
                  content="Description of the page less than 150 characters">
        {% endblock %}
    {% endif %}

    {{ craft.twigpack.includeCssModule("style.css") }}

    {# -- CRITICAL CSS -- #}
    <% if (htmlWebpackPlugin.options.env.prod) { %>
        {% set criticalCss = getCookie('critical-css') %}
        {% if criticalCss and criticalCss == assetHash %}
            {{ craft.twigpack.includeCssModule("styles.css") }}
        {% else %}
            {{ setCookie('critical-css', assetHash, now | date_modify("+7 days").timestamp ) }}
            {{ craft.twigpack.includeCriticalCssTags() }}
            {{ craft.twigpack.includeCssModule("styles.css", true) }}
            {{ craft.twigpack.includeCssRelPreloadPolyfill() }}
        {% endif %}
    <% } %>

    {# -- Fontface Observer -- #}
    <style>
        {{ craft.twigpack.includeFile("_inlinecss/_site_fonts.css") }}
    </style>
    <% if (htmlWebpackPlugin.options.env.prod) { %>
    {% if fontsLoaded and fontsLoaded == assetHash %}
    {% else %}
        <script>
            (function() {
                // Optimization for Repeat Views
                if (sessionStorage.foftFontsLoaded) {
                    document.documentElement.className += "fonts-loaded";
                    return;
                }
                {{ craft.twigpack.includeFile("_inlinejs/fontfaceobserver.js") }}
                {{ craft.twigpack.includeFile("_inlinejs/load-fonts.js") }}
            })();
        </script>
        {{ setCookie('fonts-loaded', assetHash, now | date_modify("+7 days").timestamp ) }}
    {% endif %}
    <% } %>

    {# -- Tab Handler -- #}
    <script>
        {{ craft.twigpack.includeFile("_inlinejs/tab-handler.js") }}
    </script>

    {%- endminify -%}

</head>

<% if (htmlWebpackPlugin.options.env.prod) { %>
{%- minify -%}
    <% } %>
    <body itemscope itemtype="http://schema.org/WebPage">
    <div id="app">
        <confetti></confetti>
        {% block body %}

            {# -- Debug -- #}
            <% if (htmlWebpackPlugin.options.env.devA) { %>
            {% block debug %}
                <div class="o-grid-wrap flex-col bg-red-lightest">
                    <p class="text-sm text-red font-extrabold mb-2 -mt-2 underline">
                        DEBUG</p>
                    <p class="text-sm text-grey-darkest font-extrabold mb-2 -mt-2 ">
                        entry.slug -
                        <span
                            class="text-red font-bold">{{ entry.slug }}</span>
                    </p>
                    <p class="text-sm text-grey-darkest font-extrabold mb-2 -mt-2 ">
                        entry.title -
                        <span
                            class="text-red font-bold">{{ entry.title }}</span>
                    </p>
                    <p class="text-sm text-grey-darkest font-extrabold mb-2 -mt-2 ">
                        entry.type -
                        <span
                            class="text-red font-bold">{{ entry.type }}</span>
                    </p>
                    <p class="text-sm text text-grey-darkest font-extrabold mb-2 -mt-2 ">
                        section.handle -
                        <span
                            class="text-red font-bold">{{ entry.section.handle }}</span>
                    </p>
                    <p class="text-sm text-grey-darkest font-extrabold mb-2 -mt-2 ">
                        app.request.pathInfo -
                        <span
                            class="text-red font-bold">{{ craft.app.request.pathInfo }}</span>
                    </p>
                    <p class="text-sm text-grey-darkest font-extrabold -mt-2 ">
                        template path -
                        <span
                            class="text-red font-bold">./templates/entry/{{ entry.section.type == 'channel' ? '' : entry.section.handle ~ '/' }}{{ entry.type }}
                            .twig</span>
                    </p>
                </div>
            {% endblock %}
            <% } %>

            {% block header %}{% endblock %}

            <main itemscope itemprop="mainContentOfPage"
                  itemtype="http://schema.org/mainContentOfPage">
                {% block content %}{% endblock %}
            </main>

            {% block footer %}
                {% include '_components/footer/default' with {
                    opt : {
                        data: contact.globalContact.all()
                    }
                } only %}
            {% endblock %}

        {% endblock %}
    </div>

    {% block scripts %}
        <script>
            window.csrfTokenValue = "{{ craft.app.request.csrfToken|e('js') }}"
        </script>
    {% endblock %}

    {{ craft.twigpack.includeSafariNomoduleFix() }}
    {{ craft.twigpack.includeJsModule("app.js", true) }}

    </body>
    <% if (htmlWebpackPlugin.options.env.prod) { %>
{%- endminify -%}
<% } %>

</html>
