
/* Tailwind Css */

@import './tailwind-preflight.css';
@import './tailwind-utilities.css';
@import './tailwind-components.css';

/* Css Gridish */

@import './../../css-gridish/css/o-grid-legacy.css';

/* Components, Elements and Pieces */

@import './../../templates/_elements/nav/default.css';

html {
    @apply .leading-normal;
    text-rendering: optimizeLegibility;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.fonts-loaded body,
.fonts-loaded .font-sans {
    font-family: Lato, Arial, Helvetica, sans-serif;
}

.fonts-loaded .font-serif {
    font-family: sans-serif, Arial, Helvetica;
}

/* -- CSS variables */

:root {
    --outlineColor: #5db7a5;
}

/* -- For screen readers */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* -- A subtle focus style for keyboard-input elements */

.text-input:focus {
    outline: 1px solid var(--outlineColor);
}

/* -- No outline for non-keyboard-inputs elements */

button:focus,
select:focus {
    outline: none;
}

.user-is-tabbing *:focus {
    outline: 2px solid var(--outlineColor) !important;
    outline: 5px auto -webkit-focus-ring-color !important;
}

.textarea {
    border-radius: 25px;
}
