{#
  Matrix: embedded (templates/matrix/embedded.twig)
  ------------------------------------------------------------
#}

{% extends "matrix/default.twig" %}

{% block blockContent %}

    {% if block.code %}
        {% if 'youtube.com' in block.code or 'vimeo.com' in block.code %}
            {% set video = true %}
        {% else %}
            {% set video = false %}
        {% endif %}

        <div class="relative">
            <div class="embedded {{ video ? 'aspect-ratio-16/9' : '' }} ">
                {{ block.code|raw }}
            </div>
        </div>

    {% endif %}

{% endblock %}

