{#
  Matrix: embedded (templates/matrix/embedded.twig)
  ------------------------------------------------------------
#}

{% extends "matrix/default.twig" %}

{% block blockContent %}

    {% if block.code %}

        <div class="relative">
            <div class="embedded {{ block.ratio.value ? 'aspect-ratio-' ~ block.ratio.value : ''}}">
                {{ block.code|raw }}
            </div>
        </div>

    {% endif %}

{% endblock %}

