{#
  Matrix: entry (templates/matrix/entry.twig)
  ------------------------------------------------------------
#}

{% extends "matrix/default.twig" %}

{% block blockContent %}

    <div>
        {% for entry in block.entry.all() %}
            {% include '_item.twig' %}
        {% endfor %}
    </div>

{% endblock %}
