{#
  Matrix: Headline (templates/matrix/headline.twig)
  ------------------------------------------------------------
#}

{% extends "matrix/default.twig" %}

{% block blockContent %}
    <h2 class="mb-8 bg-green-200 p-4">{{ block.headline }}</h2>
{% endblock %}
