{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}

{#
  Matrix: Headline (templates/matrix/headline.twig)
  ------------------------------------------------------------
#}

{% extends "matrix/default.twig" %}

{% block blockContent %}
    <h2 class="mb-4 mt-12">
        <span class="js-headline">{{ block.headline }}</span>
    </h2>
{% endblock %}
