{% extends "matrix/default" %}

{% block blockContent %}
    <div class="gridWrap mx-auto max-w-3xl mt-16 md:mt-32 px-4">
        <h2 class="hover text-center">
            <span class="h2-border border-t-6 border-b-6 hover:border-bottom border-transparent js-step">{{ block.headline }}</span>
        </h2>
    </div>
{% endblock %}
