{#
  Matrix: Headline (templates/matrix/headline.twig)
  ------------------------------------------------------------
#}

{% extends "matrix/default.twig" %}

{% block blockContent %}
    <h2 class="w-full px-2 mb-8">{{ block.headline }}</h2>
{% endblock %}
