{#
  Matrix: Headline (templates/matrix/headline.twig)
  ------------------------------------------------------------
#}

{% extends "matrix/default.twig" %}

{% block blockContent %}
        <h2 class="{{ classmate.get('h2') }}">{{ block.headline }}</h2>
{% endblock %}
