{% extends "matrix/default.twig" %}

{% block blockContent %}

<div class="svg mt-12 md:mt-14">
        {% for image in block.image %}
            {% include '_elements/img/default.twig' with {
                data : {
                    imager: {
                        options: {
                            dominantColor: true,
                            blurUp: true,
                            mediaBox: true,
                            ratio: false,
                        },
                        images: {
                            imageLandscape: image,
                        }
                    },
                }
            } only %}
        {% endfor %}
</div>

{% endblock %}
