{% extends "matrix/default" %}

{% block blockContent %}
   <div class="o-wrap o-wrap--grid">
      {% for image in block.images.all() %}
        {% if image %}
            <figure
                class="o-wrap__item o-wrap__item--grid w-full md:w-1/2 lg:{{- block.columns -}}"
                itemprop="associatedMedia" itemscope
                itemtype="http://schema.org/ImageObject">
                    {% include '_elements/img/default' with {
                        data : {
                            imager: {
                                options: {
                                    blurUp: true,
                                    objectFit: true,
                                    ratio: block.ratio,
                                    alt: image.title,
                                },
                                images: {
                                    imageLandscape: image,
                                }
                            },
                        }
                    } only %}
                {% if block.caption %}
                    <figcaption
                        itemprop="caption description" class="mt-2 text-sm">{{ image.caption }}</figcaption>
                {% endif %}
            </figure>
        {% endif %}
        {% endfor %}
   </div>
{% endblock %}
