{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}

{#
  Matrix: Product (templates/matrix/product.twig)
  ------------------------------------------------------------
#}

{% extends "matrix/default" %}

{% block blockContent %}

    <div
        class="matrixEntry gridWrap mx-auto flex flex-wrap py-2 {{ block.layout == 'layoutB' ? ' ' : ' px-2 container' }}">

        {% for product in block.product.all() %}
            {% include 'item/commerce' %}
        {% endfor %}

    </div>
{% endblock %}
