{% extends 'matrix/default.twig' %}

{% block blockContent %}

    <blockquote>
        <figure class="p-4 mb-8 bg-green-200">
            {% set image = block.image.one() %}
            {% if image %}
                {% include '_elements/img/default.twig' with {
                    data : {
                        imager: {
                            options: {
                                class: 'w-auto h-auto',
                                dominantColor: false,
                                blurUp: false,
                                mediaBox: false,
                                objectFit: true,
                            },
                            images: {
                                imageLandscape: image,
                            },
                        },
                    }
                } only %}
            {% endif %}
            <figcaption class="mt-4 flex flex-col text-left">
                <p>"{{ block.quote }}"</p>
                <cite>{{ block.source }}</cite>
            </figcaption>
        </figure>
    </blockquote>

{% endblock %}
