{% extends 'matrix/default.twig' %}

{% block blockContent %}

    <blockquote>
        <figure class="text-center">
            {% set image = block.image.one() %}
            {% if image %}
                {% include '_elements/img/default.twig' with {
                    data : {
                        imager: {
                            options: {
                                class: 'w-64 h-auto',
                                dominantColor: false,
                                blurUp: true,
                                mediaBox: false,
                                objectFit: true,
                            },
                            images: {
                                imageLandscape: image,
                            },
                        },
                    }
                } only %}
            {% endif %}
            <figcaption class="mt-4 flex flex-col text-left">
                <p class="mt-4">"{{ block.quote }}"</p>
                <cite class="mt-2">{{ block.source }}</cite>
            </figcaption>
        </figure>
    </blockquote>

{% endblock %}

