{#
  Matrix: Rich Text (templates/matrix/richText.twig)
  ------------------------------------------------------------
#}

{% extends "matrix/default.twig" %}

{% block blockContent %}

        <div class="{{ (craft.app.request.getLastSegment()  == 'konzept' or 'concept' or not craft.app.request.segments|length) and loop.index == 2 ? 'text-center' : '' }}">
            {{ block.textContent }}
        </div>

{% endblock %}
