{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}

{#
  Matrix: rich text (templates/matrix/richText.twig)
  ------------------------------------------------------------
#}

{% extends "matrix/default.twig" %}

{% block blockContent %}
        <div class="richText">
            {{ block.textContent }}
        </div>
{% endblock %}
