{#
  Matrix: Rich Text (templates/matrix/richText.twig)
  ------------------------------------------------------------
#}

{% extends "matrix/default.twig" %}

{% block blockContent %}
    <div class="richText mb-16 p-4">
        {{ block.textContent }}
    </div>
{% endblock %}
