{#
  Matrix: Separator (templates/matrix/separator.twig)
  ------------------------------------------------------------
#}

{% extends "matrix/default.twig" %}

{% block blockContent %}

    <div class="flex justify-center mb-8 bg-green-200 p-4">
        <hr class="bg-gray-200 h-px w-1/2 m-0">
    </div>

{% endblock %}
