{% extends "matrix/default" %}

{% block blockContent %}
        <div class="gridWrap container py-4 px-4">
            <hr class="bg-grey-darkest h-px opacity-25 w-3/5 mb-0 mt-0">
        </div>
{% endblock %}
