{# @var craft \craft\web\twig\variables\CraftVariable #}

{% extends "_layouts/_layout.twig" %}

{# -- inline css -- #}
{% block _inline_css %}
    <!-- critical "500.twig" -->
    <style>
        {{ craft.twigpack.includeFile('@webroot/dist/criticalcss/' ~ _self | split('.')[0] ~  '_critical.min.css') }}
    </style>
{% endblock %}

{% block content %}

    <section>
        <div>
            <p>
                500 Internal Server Error
            </p>
        </div>
    </section>

{% endblock %}

