{# @var craft \craft\web\twig\variables\CraftVariable #}

{# Handler-Template: Matrix
    handles all display of matrix-fields accross the site.
#}

{# TODO WURM mit autoclosing #}
{% if matrix %}

    {% set blocks = matrix
        .with(['imageSingle:image','imageGrid:images' ])
        .all() %}

    {% for block in blocks %}

        {% if block.type == 'headline' %}
            <!-- Start section is headline -->
            <section>

            {#{% elseif block.type == 'cbSection' %}#}
            {#<!-- Start section is cbSection -->#}
            {#<section class="js-section is cbSection">#}

        {% else %}

        {% endif %}

        {% include[
            "matrix/" ~ block.type,
            "matrix/default"
            ] %}

        {# Check if an other Section is opened and close the Section before #}

        {% if block.getNext() %}

            {% if block.getNext().type == 'headline' %}
                </section>
                <!-- end: section is headline -->
                {#        {% elseif block.getNext().type == 'cbSection' %}
                            </section>
                            <!-- end: section is cbSection -->#}
            {% else %}


            {% endif %}
        {% endif %}

    {% endfor %}

{% endif %}
