{# @var craft \craft\web\twig\variables\CraftVariable #}

{# Handler-Template: Matrix
    handles all display of matrix-fields accross the site.
#}


{% if matrix %}

    {% set blocks = matrix
        .with(['imageSingle:image','imageGrid:images' ])
        .all() %}

    {% for block in blocks %}
        {% set newSection = false %}
        {% if block.type == 'newSection' %}
            {% set newSection = true %}
            <!-- Start section is newSection -->
            <section>
            <div class="js-sectionColor" style="color:{{ block.textColor }};background-color:{{ block.backgroundColor }}">
            <div class="max-w-6xl mx-auto px-6 md:px-12 pt-4 pb-14 relative">
        {% else %}

        {% endif %}

        {% include[
            "matrix/" ~ block.type,
            "matrix/default"
            ] %}

        {# Check if an other Section is opened and close the Section before #}

        {% if block.getNext() %}

            {% if block.getNext().type == 'newSection' %}
                </div>
                </div>
                </section>
                <!-- end: section is newSection -->


            {% endif %}

        {% elseif newSection == true %}
            </div>
            </div>
            </section>
            <!-- end: section is newSection -->

        {% endif %}

    {% endfor %}

{% endif %}
