{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}

{% set entry = craft.entries.section("genericError").limit(1).one() %}

{% extends "_layouts/_layout.twig" %}

{# -- inline css -- #}
{% block _inline_css %}
    <!-- critical "error.twig" -->
    <style>
        {{ craft.twigpack.includeFile('@webroot/dist/criticalcss/' ~ _self | split('.')[0] ~  '_critical.min.css') }}
    </style>
{% endblock %}

{% block content %}

    <section>
        <div>
            <p>
                Generic Error
            </p>
        </div>
    </section>

{% endblock %}

{% block _inline_js %}
{% endblock %}
