{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}



{% extends '_layouts/_layout.twig' %}

{# -- cache -- #}
{% cache globally using key 'homepage-' ~ (craft.imager.clientSupportsWebp ? "with-webp") ~ craft.app.request.pathInfo ~ (craft.app.request.pageNum ? '/p' ~ craft.app.request.pageNum : '') %}

    {# -- header -- #}
    {% block header %}
        {% embed '_components/header/default.twig' with {
            data : {
                header: {
                    title: {
                        entry: entry.title ?? null,
                    },
                    headerParagraph: {
                        entry: null,
                    },
                },
                imager: {
                    options: {
                        preload: true,
                        class: 'absolute h-full w-full z-10 inset-y-0 inset-x-0 object-cover',
                    },
                    images: {
                        imageLandscape: entry.headerImage.one() ?? null,
                        imagePortrait: entry.headerImageMobile.one() ?? null,
                    },
                    template: 'default',
                },
                nav: {
                    entry: navigationMain.globalNavigationMain.all() ?? null
                }
            }
        } only %}
            {% block subHeaderContent %}

            {% endblock %}

        {% endembed %}
    {% endblock %}
    {# -- header end -- #}



    {# -- content -- #}
    {% block content %}

        <div class="bg-green-200">
            asdasd
        </div>
        {# -- itemContent -- #}
        {% block itemContent %}

{#            {% include '_matrix.twig' with {#}
{#                matrix : entry.contentBuilder,#}
{#            } only %}#}
        {% endblock %}
        {# -- itemContent end -- #}


    {% endblock %}
    {# -- content end -- #}

    {# -- footer -- #}
    {% block footer %}
        {{ parent() }}
    {% endblock %}
    {# -- footer end -- #}

{% endcache %}
{# -- cache end -- #}
