@font-face {
    font-family: Lato;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local('Lato Regular '), local('Lato-Regular'), url('/assets/fonts/lato-latin-400.woff2') format('woff2'), url('/assets/fonts/lato-latin-400.woff') format('woff');
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.fonts-loaded body,
.fonts-loaded .font-sans {
    font-family: Lato, Arial, Helvetica, sans-serif;
}
