@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src:
        local('Roboto Condensed Bold '),
        local('Roboto Condensed-Bold'),
        url('/dist/fonts/roboto-condensed-latin-700.woff2') format('woff2'),
        url('/dist/fonts/roboto-condensed-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
        local('Cabin Regular '),
        local('Cabin-Regular'),
        url('/dist/fonts/cabin-latin-400.woff2') format('woff2'),
        url('/dist/fonts/cabin-latin-400.woff') format('woff');
}
